.right-container{
    padding: 20px 50px;
    h1{
        font-size: 20px;
    }
    li{
        list-style-type: none;
        padding: 12px 10px;
        font-size: 15px;
        color: #ac5454;
        font-family: sans-serif;
        a{
            cursor: pointer;
            text-decoration: underline;
            color: blue;
            padding: 0px 50px; 
        }
    }

}