<app-header></app-header> 
<div class="main-container">
  
</div>
<div class="example-container mat-elevation-z8">
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
  
        <mat-table #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortServerSide('id')"> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortServerSide('name')"> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortServerSide('email')"> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mobile">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortServerSide('mobile')"> Mobile </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
            </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
   <mat-paginator #paginator [length]="totalLength"
                   [pageSize]="5" 
                   [pageSizeOptions]="pageLimit"                 
                   (page)="changePage($event)">
    </mat-paginator>
  </div> 



